## Dictionary

In [ ]:
d1 = {'John':236,'Mary':124,'Tom':325}

In [2]:
d1

{'John': 236, 'Mary': 124, 'Tom': 325}

In [5]:
list(d1.keys())

['John', 'Mary', 'Tom']

In [6]:
list(d1.values())

[236, 124, 325]

In [ ]:
# dictionary as a list

In [7]:
list(d1.items())

[('John', 236), ('Mary', 124), ('Tom', 325)]

In [ ]:
# delete entry

In [8]:
del d1['Tom']

In [9]:
list(d1.items())

[('John', 236), ('Mary', 124)]

In [ ]:
# add new entry

In [15]:
d1['Louis']=435

In [16]:
list(d1.items())

[('John', 236), ('Mary', 124), ('Louis', 435)]

In [17]:
'John' in d1

True

In [18]:
'Tom' in d1

False

In [19]:
d1.get('John')

236

In [ ]:
# looking for non-existent key

In [ ]:
d1.get('Tom')

In [22]:
# no response

In [23]:
d1.get('Tom','not in')

'not in'

In [ ]:
# second argument used for non-existent key

## Strings

In [25]:
w1 = "my name"

In [26]:
w1[0]

'm'

In [27]:
w1[-1]

'e'

In [28]:
w1[1:]

'y name'

In [ ]:
# new line delimiter

In [29]:
w2 = "my name\n"

In [30]:
len(w2)

8

In [34]:
w2[7]

'\n'

In [35]:
w2

'my name\n'

In [39]:
print(w2)

my name

In [41]:
print(w2,".")

my name
 .

In [ ]:
# remove new-line character

In [45]:
w2

'my name\n'

In [42]:
w2 = w2[:-1]

In [43]:
w2

'my name'

In [ ]:
# strings cannot be modified

In [46]:
w1[0] = "M"

TypeError: 'str' object does not support item assignment

In [47]:
w3 = "My"+" "+"name"

In [48]:
w3

'My name'

In [49]:
w4 = 3*"ab"

In [50]:
w4

'ababab'

In [ ]:
## split

In [51]:
w1

'my name'

In [52]:
w1.split()

['my', 'name']

In [53]:
w5 = "Mississippi"

In [54]:
w5.split("ss")

['Mi', 'i', 'ippi']

## File operations

In [ ]:
# read first line and \n

In [60]:
f1 = open("paragraph.txt")

In [61]:
line = f1.readline()

In [62]:
line

'Peter Piper picked a peck of pickled peppers.\n'

In [ ]:
f1.close()

In [91]:
f1 = open("paragraph.txt")

In [13]:
all_lines = f1.readlines()

In [93]:
all_lines

['Peter Piper picked a peck of pickled peppers.\n',
 'A peck of pickled peppers Peter Piper picked.\n',
 'If Peter Piper picked a peck of pickled peppers?\n',
 "Where's the peck of pickled peppers Peter Piper picked?"]

In [ ]:
f1.close()

In [94]:
f1 = open("paragraph.txt")

In [95]:
all_lines[-1]

"Where's the peck of pickled peppers Peter Piper picked?"

In [96]:
all_lines[-1][-1]

'?'

In [ ]:
# or to open file

In [71]:
with open("paragraph.txt") as f1:
    line=f1.readline()

In [114]:
f1.close()

In [74]:
line

'Peter Piper picked a peck of pickled peppers.\n'

In [ ]:
# count n. of lines

In [9]:
f1 = open("paragraph.txt")

In [10]:
count = 0

In [6]:
# use f1 as line-iterator in a for loop

In [11]:
for line in f1:
    print(line)
    count = count + 1

Peter Piper picked a peck of pickled peppers.

A peck of pickled peppers Peter Piper picked.

If Peter Piper picked a peck of pickled peppers?

Where's the peck of pickled peppers Peter Piper picked?

In [12]:
count

4

In [ ]:
# or

In [18]:
f1 = open("paragraph.txt")

In [19]:
count = 0
for line in f1.readlines():
    print(line)
    count = count + 1

Peter Piper picked a peck of pickled peppers.

A peck of pickled peppers Peter Piper picked.

If Peter Piper picked a peck of pickled peppers?

Where's the peck of pickled peppers Peter Piper picked?

In [ ]:
# read last two lines

In [21]:
f1 = open("paragraph.txt")
count = 0
for line in f1.readlines()[-2:]:
    print(line)
    count = count + 1

If Peter Piper picked a peck of pickled peppers?

Where's the peck of pickled peppers Peter Piper picked?

## word count

In [124]:
dict1 = {}

In [125]:
sentence = "To be or not to be"

In [141]:
sentence.split()

['To', 'be', 'or', 'not', 'to', 'be']

In [128]:
for each_word in sentence.split():
    dict1[each_word] = dict1.get(each_word,0) + 1

In [129]:
# if word not in dict1 return 0

In [135]:
for each_word in dict1:
    print("word",each_word,"occurs",dict1[each_word],"times")

word To occurs 1 times
word be occurs 2 times
word or occurs 1 times
word not occurs 1 times
word to occurs 1 times

In [138]:
dict1 = {}

In [139]:
for each_word in sentence.split():
    each_word = each_word.lower()
    dict1[each_word] = dict1.get(each_word,0) + 1

In [140]:
for each_word in dict1:
    print("word",each_word,"occurs",dict1[each_word],"times")

word to occurs 2 times
word be occurs 2 times
word or occurs 1 times
word not occurs 1 times

In [ ]:
# count words from a file

In [29]:
dict2 = {}
f1 = open("paragraph.txt")
for line in f1.readlines():
    for word in line.split():
        word = word.lower()
        dict2[word] = dict2.get(word,0)+1

In [30]:
for word in dict2:
    print("word",word,"occurs",dict2[word],"times")

word peter occurs 4 times
word piper occurs 4 times
word picked occurs 2 times
word a occurs 3 times
word peck occurs 4 times
word of occurs 4 times
word pickled occurs 4 times
word peppers. occurs 1 times
word peppers occurs 2 times
word picked. occurs 1 times
word if occurs 1 times
word peppers? occurs 1 times
word where's occurs 1 times
word the occurs 1 times
word picked? occurs 1 times

In [ ]:
# new file w/o last dot

In [31]:
file1 = open('paragraph.txt', 'r')
file2 = open('new.txt', 'w')
file1_cont = file1.readlines()
for line in file1_cont:
    line = line.replace('.', ' ')
    print(line)
    file2.write(line)

Peter Piper picked a peck of pickled peppers

A peck of pickled peppers Peter Piper picked

If Peter Piper picked a peck of pickled peppers?

Where's the peck of pickled peppers Peter Piper picked?