# Multiple Linear Regression - Cars93

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Cars93.csv')

In [3]:
# select variables

In [22]:
list1 = ['MPG.city','Cylinders','EngineSize','Horsepower','RPM','Passengers','Weight']
list1

['MPG.city',
 'Cylinders',
 'EngineSize',
 'Horsepower',
 'RPM',
 'Passengers',
 'Weight']

In [23]:
df1 = df[list1]
df1[:5]

   MPG.city Cylinders  EngineSize  Horsepower   RPM  Passengers  Weight
0        25         4         1.8         140  6300           5    2705
1        18         6         3.2         200  5500           5    3560
2        20         6         2.8         172  5500           5    3375
3        19         6         2.8         172  5500           6    3405
4        22         4         3.5         208  5700           4    3640

In [24]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 7 columns):
MPG.city      93 non-null int64
Cylinders     93 non-null object
EngineSize    93 non-null float64
Horsepower    93 non-null int64
RPM           93 non-null int64
Passengers    93 non-null int64
Weight        93 non-null int64
dtypes: float64(1), int64(5), object(1)
memory usage: 5.2+ KB

In [25]:
# Cylinders is not numeric

In [26]:
df1.Cylinders.unique()

array(['4', '6', '8', '3', 'rotary', '5'], dtype=object)

In [27]:
pd.value_counts(df1.Cylinders)

4         49
6         31
8          7
3          3
5          2
rotary     1
Name: Cylinders, dtype: int64

In [28]:
df[df.Cylinders == 'rotary']

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
56,Mazda,RX-7,Sporty,32.5,32.5,32.5,17,25,Driver only,Rear,...,2,169,96,69,37,NaN,NaN,2895,non-USA,Mazda RX-7

In [29]:
# remove Mazda RX-7

In [30]:
df2 = df1.copy()

In [31]:
df3 = df2.drop(df2.index[56])

In [ ]:
# verify removal

In [32]:
df3.iloc[52:58,]

    MPG.city Cylinders  EngineSize  Horsepower   RPM  Passengers  Weight
52        29         4         1.6          82  5000           4    2325
53        28         4         1.8         103  5500           5    2440
54        26         4         2.5         164  5600           5    2970
55        18         6         3.0         155  5000           7    3735
57        20         4         2.3         130  5100           5    2920
58        19         6         3.2         217  5500           5    3525

In [33]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92 entries, 0 to 92
Data columns (total 7 columns):
MPG.city      92 non-null int64
Cylinders     92 non-null object
EngineSize    92 non-null float64
Horsepower    92 non-null int64
RPM           92 non-null int64
Passengers    92 non-null int64
Weight        92 non-null int64
dtypes: float64(1), int64(5), object(1)
memory usage: 5.8+ KB

In [14]:
# change Cylinders to numeric

In [34]:
df3.Cylinders = df3.Cylinders.astype('int64')

In [35]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92 entries, 0 to 92
Data columns (total 7 columns):
MPG.city      92 non-null int64
Cylinders     92 non-null int64
EngineSize    92 non-null float64
Horsepower    92 non-null int64
RPM           92 non-null int64
Passengers    92 non-null int64
Weight        92 non-null int64
dtypes: float64(1), int64(6)
memory usage: 5.8 KB

In [17]:
# correlations

In [36]:
df3.corr()

,MPG.city,Cylinders,EngineSize,Horsepower,RPM,Passengers,Weight
MPG.city,1.000000,-0.687222,-0.734536,-0.670457,0.395603,-0.473828,-0.850998
Cylinders,-0.687222,1.000000,0.890732,0.794648,-0.396617,0.308475,0.794336
EngineSize,-0.734536,0.890732,1.000000,0.790067,-0.535751,0.350297,0.849277
Horsepower,-0.670457,0.794648,0.790067,1.000000,-0.011519,0.084771,0.765391
RPM,0.395603,-0.396617,-0.535751,-0.011519,1.000000,-0.431406,-0.431383
Passengers,-0.473828,0.308475,0.350297,0.084771,-0.431406,1.000000,0.572140
Weight,-0.850998,0.794336,0.849277,0.765391,-0.431383,0.572140,1.000000

In [20]:
# Best predictor based on correlation matrix is Weight

In [21]:
# Correlated predictors are Cylinders, EngineSize, Weight, Horsepower

### Select predictor columns and the response

In [37]:
X0 = df3.iloc[:,1:7]
X0[:5]

   Cylinders  EngineSize  Horsepower   RPM  Passengers  Weight
0          4         1.8         140  6300           5    2705
1          6         3.2         200  5500           5    3560
2          6         2.8         172  5500           5    3375
3          6         2.8         172  5500           6    3405
4          4         3.5         208  5700           4    3640

In [38]:
y0 = df3.iloc[:,0]
y0[:5]

0    25
1    18
2    20
3    19
4    22
Name: MPG.city, dtype: int64

## Model

In [39]:
import statsmodels.api as sm

In [40]:
X0.shape

(92, 6)

In [41]:
X1 = sm.add_constant(X0)

C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [ ]:
# sm.add_constant() does not work with dataframes

In [42]:
# convert X1 to numpy array

In [43]:
X = X0.to_numpy()
X[:5]

array([[4.000e+00, 1.800e+00, 1.400e+02, 6.300e+03, 5.000e+00, 2.705e+03],
       [6.000e+00, 3.200e+00, 2.000e+02, 5.500e+03, 5.000e+00, 3.560e+03],
       [6.000e+00, 2.800e+00, 1.720e+02, 5.500e+03, 5.000e+00, 3.375e+03],
       [6.000e+00, 2.800e+00, 1.720e+02, 5.500e+03, 6.000e+00, 3.405e+03],
       [4.000e+00, 3.500e+00, 2.080e+02, 5.700e+03, 4.000e+00, 3.640e+03]])

In [44]:
X1 = sm.add_constant(X)
X1[:5]

array([[1.000e+00, 4.000e+00, 1.800e+00, 1.400e+02, 6.300e+03, 5.000e+00,
        2.705e+03],
       [1.000e+00, 6.000e+00, 3.200e+00, 2.000e+02, 5.500e+03, 5.000e+00,
        3.560e+03],
       [1.000e+00, 6.000e+00, 2.800e+00, 1.720e+02, 5.500e+03, 5.000e+00,
        3.375e+03],
       [1.000e+00, 6.000e+00, 2.800e+00, 1.720e+02, 5.500e+03, 6.000e+00,
        3.405e+03],
       [1.000e+00, 4.000e+00, 3.500e+00, 2.080e+02, 5.700e+03, 4.000e+00,
        3.640e+03]])

In [45]:
m1 = sm.OLS(y0,X1).fit()

In [46]:
m1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               MPG.city   R-squared:                       0.732
Model:                            OLS   Adj. R-squared:                  0.713
Method:                 Least Squares   F-statistic:                     38.61
Date:                Fri, 20 Sep 2019   Prob (F-statistic):           2.79e-22
Time:                        11:09:58   Log-Likelihood:                -228.40
No. Observations:                  92   AIC:                             470.8
Df Residuals:                      85   BIC:                             488.4
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         36.9200      7.294      5.062      0.000      22.417      51.423
x1             0.1015      0.570      0.178      0.859      -1.031       1.234
x2             0.8743      1.076      0.813      0.419      -1.264       3.013
x3            -0.0303      0.023     -1.344      0.183      -0.075       0.015
x4             0.0016      0.001      1.418      0.160      -0.001       0.004
x5            -0.2385      0.540     -0.441      0.660      -1.313       0.836
x6            -0.0066      0.002     -4.006      0.000      -0.010      -0.003
==============================================================================
Omnibus:                       51.274   Durbin-Watson:                   1.659
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              235.138
Skew:                           1.723   Prob(JB):                     8.72e-52
Kurtosis:                      10.034   Cond. No.                     1.42e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.42e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [47]:
m1.params

const    36.919975
x1        0.101453
x2        0.874315
x3       -0.030322
x4        0.001620
x5       -0.238479
x6       -0.006613
dtype: float64

## fitted equation

In [ ]:
# yhat = 36.92 + 0.1014 Cylinders + 0.874 EngineSize -0.03 Horsepower + 0.0016 RPM 
#              -0.2385 Passengers -0.0066 Weight

In [ ]:
# interpret equation

In [ ]:
# City mileage (miles per US gallon) increases by 0.1014 for each additional cylinder

In [ ]:
# City mileage decreases by 0.0066 for each additional pound

## Model Adequacy values

In [48]:
m1.rsquared

0.7315906125539784

In [ ]:
# Model explains 73.2% of City mileage variability

In [49]:
adjr2 = m1.rsquared_adj
adjr2

0.7126440675577886

In [50]:
# variance of y

In [51]:
MST = np.var(y0,ddof = 1)
MST

31.609531772575224

In [ ]:
# MSE

In [52]:
MSE = MST * (1 - adjr2)
MSE

9.08318647657006

In [53]:
# Estimated Constant variance is 9.08 squared-miles

In [54]:
# S

In [55]:
S = np.sqrt(MSE)
S

3.0138325229796794

In [ ]:
# Average distance to fitted plane is 3.014 miles

## Predictions

In [ ]:
# dataframe with predictor values

In [56]:
list1

['MPG.city',
 'Cylinders',
 'EngineSize',
 'Horsepower',
 'RPM',
 'Passengers',
 'Weight']

In [57]:
# remove response name

In [58]:
list1.remove('MPG.city')
list1

['Cylinders', 'EngineSize', 'Horsepower', 'RPM', 'Passengers', 'Weight']

In [59]:
# add column name for constant term

In [60]:
list1.insert(0,'constant')
list1

['constant',
 'Cylinders',
 'EngineSize',
 'Horsepower',
 'RPM',
 'Passengers',
 'Weight']

In [61]:
list_values = [1,4,2.3,200,5500,4,2950]

In [62]:
x = pd.DataFrame([list_values],columns = list1)
x

   constant  Cylinders  EngineSize  Horsepower   RPM  Passengers  Weight
0         1          4         2.3         200  5500           4    2950

In [ ]:
# or use dictionary

In [63]:
values = {'constant':[1],'Cylinders':[4],'EngineSize':[2.3],'Horsepower':[200],'RPM':[5500],
          'Passengers':[4],'Weight':[2950]}

In [64]:
x = pd.DataFrame(values)
x

   constant  Cylinders  EngineSize  Horsepower   RPM  Passengers  Weight
0         1          4         2.3         200  5500           4    2950

In [65]:
d2 = m1.get_prediction(x)

In [66]:
d2.summary_frame(alpha = 0.10)

,mean,mean_se,mean_ci_lower,mean_ci_upper,obs_ci_lower,obs_ci_upper
0,21.720679,1.409391,19.376892,24.064466,16.187789,27.253569